<h2>Nowe materiały konkurencji</h2>
<ul class="gallery2">
    <li class="gallery2List">
        <a class="link" href="./images/IMG_2034.jpg">
            <img class="gallery" src="./images/IMG_2034.jpg" alt="Żelazko Beko">
        </a>
    </li>
    <li class="gallery2List">
        <a class="link" href="./images/IMG_2036.jpg">
            <img class="gallery" src="./images/IMG_2036.jpg" alt="Tag Philips">
        </a>
    </li>
    <li class="gallery2List">
        <a class="link" href="./images/IMG_2037.jpg">
            <img class="gallery" src="./images/IMG_2037.jpg" alt="Stand Dyson">
        </a>
    </li>
    <li class="gallery2List">
        <a class="link" href="./images/IMG_2057.jpg">
            <img class="gallery" src="./images/IMG_2057.jpg" alt="Ekspozytor Philips">
        </a>
    </li>
    <li class="gallery2List">
        <a class="link" href="./images/IMG_2061.jpg">
            <img class="gallery" src="./images/IMG_2061.jpg" alt="Tag Kenwood">
        </a>
    </li>
    <li class="gallery2List">
        <a class="link" href="./images/IMG_2076.jpg">
            <img class="gallery" src="./images/IMG_2076.jpg" alt="Naklejka Philips lokówko-suszarka">
        </a>
    </li>
    <li class="gallery2List">
        <a class="link" href="./images/IMG_2087.jpg">
            <img class="gallery" src="./images/IMG_2087.jpg" alt="Wyspa DeLonghi">
        </a>
    </li>
    <li class="gallery2List">
        <a class="link" href="./images/IMG_2092.jpg">
            <img class="gallery" src="./images/IMG_2092.jpg" alt="Plakat Philips">
        </a>
    </li>
    <li class="gallery2List">
        <a class="link" href="./images/IMG_2148.jpg">
            <img class="gallery" src="./images/IMG_2148.jpg" alt="Tag Goetze">
        </a>
    </li>
    <li class="gallery2List">
        <a class="link" href="./images/IMG_2149.jpg">
            <img class="gallery" src="./images/IMG_2149.jpg" alt="Naklejka Beko">
        </a>
    </li>
</ul>