<h1 class="header">Projekt POS</h1>
<h2 class="header2">Podsumowanie i ocena bieżących materiałów</h2>

<ul class="listMenu">
    
    <li>
        <div class="photo">
    <img class="image" src="./images/poster1.png">
    <img class="image" src="./images/poster2.png">
        </div>
    <div>
        <div>
            <p class="grade">Ocena: <p class="number">4,67</p>  </p>
            <h3>Plusy</h3>
            <ul class="list2">
                <li>plakat zwraca uwagę klientów, pozwala się przy nim zatrzymać i zapoznać z treścią</li>
                <li>dwustronność, przejrzystość</li>
                <li>dobry , sztywny papier </li>
            </ul>
        </div>
        <div>
            <h3>Minusy</h3>
            <ul class="list2">
                <li>przy promocjach wyszczególnienie modeli ,które biorą udział</li>
                <li>zrezygnować z plakatów większych niż A4 ( montaż głównie w sieci MyCenter)</li>
            </ul>
        </div>
    </div>
    </li>
    <li>
        <div class="photo">
        <img class="image" src="./images/flyer1.png">
        <img class="image" src="./images/flyer2.png">
        </div>
        <div>
            <div>
                <p class="grade">Ocena: <p class="number">4,5</p>  </p>
                <h3>Plusy</h3>
                <ul class="list2">
                    <li>sama ulotka, którą klient może zabrać do domu</li>
                    <li>info w pigułce</li>
                    <li>możliwość dokładnego wyjaśnienia technologii/ promocji; szansa na zapoznanie się z treścią w domu</li>
                    <li>informacje, kod qr, nic wiecej nie trzeba w mojej opinii</li>
                </ul>
            </div>
            <div>
                <h3>Minusy</h3>
                <ul class="list2">
                    <li>adres www promocji powinien bardziej się wyróżniac </li>
                    <li> na ulotce  brak modeli które są  w promocji/dodać  info jakie modele</li>
                </ul>
            </div>
        </div>
        </li>
        
    <li>
        <div class="photo">
            
        <img class="image" src="./images/omniblade.png">
        </div>
        <div>
            <div>
                <p class="grade">Ocena: <p class="number">4,83</p> </p>
            
                <h3>Plusy</h3>
                <ul class="list2">
                    <li>ładnie wykonany, wytrzymały i porządny</li>
                    <li>dodałabym info z czego jest wykonane to ostrze bo z czegoś ta trwałość  wynika... </li>
                    <li>bardziej uwidocznić trwałość ostrzy 5lat </li>
                    <li>w mojej opinni nasz najlepszy pos, spójny, przykuwa uwage i komunikuje korzyści</li>
                </ul>
            </div>
            <div>
                <h3>Minusy</h3>
                <ul class="list2">
                    <li>brak</li>
                </ul>
            </div>
        </div>
        </li>
    
    <li>
        <div class="photo">
                    <img class="image" src="./images/hydraluxe.png">
        </div>
                    <div>
            <div>
                <p class="grade">Ocena: <p class="number">3,33</p>  </p>
            
                <h3>Plusy</h3>
                <ul class="list2">
                    <li>informacje na nakładce przybliżają produkt klientowi</li>
                    <li>przedstawienie cech i zalet przy produkcie na półce</li>
                    <li>miejsce montażu</li>
                    <li>informacje , kog qr</li>
                </ul>
            </div>
            <div>
                <h3>Minusy</h3>
                <ul class="list2">
                    <li>materiał z którego jest wykonana nakładka jest zbyt cienka, nakładka się wygina</li>
                    <li>nie do końca wiadomo jak  z montażem </li>
                    <li>wykonanie - coś twardszego. Aktualny wariant zbyt papierowy (wygina się, gniecie i wygląda nieestetycznie)</li>
                </ul>
            </div>
        </div>
        </li>
     
        <li>
            <div class="photo">
            <img class="image" src="./images/sticker.png">
            </div>
            <div>
                <div>
                    <p class="grade">Ocena:  <p class="number">3,67</p> </p>
                
                    <h3>Plusy</h3>
                    <ul class="list2">
                        <li>łatwy do przyklejenia, rozmiar mieści się na sprzęcie, zawiera najpotrzebniejsze informacje, mała, poręczna naklejka</li>
                        <li>Przedstawienie cech i zalet przy produkcie na półce</li>
                        <li>info, qr, komunikacja</li>
                    </ul>
                </div>
                <div>
                    <h3>Minusy</h3>
                    <ul class="list2">
                        <li>problem z odklejeniem/ koniecznie zrobić przecięcie spodniej warstwy aby ułatwić odklejanie  </li>
                        <li>weż mnie  budzi mieszane uczucia wśród potencjalnych klientów ;)</li>
                        <li>kolor trochę się zlewa na produkcie</li>
                    </ul>
                </div>
            </div>
            </li>
            <li>
                <div class="photo">
                <img class="image" src="./images/tags.png">
                </div>
                <div>
                    <div>
                        <p class="grade">Ocena:  <p class="number">3,5</p> </p>
            
                        <h3>Plusy</h3>
                        <ul class="list2">
                            <li>materiał, z którego tag jest wykonany</li>
                            <li>komunikacja, info, zamysł, wygląda estetycznie , dobry rozmiar</li>
                        </ul>
                    </div>
                    <div>
                        <h3>Minusy</h3>
                        <ul class="list2">
                            <li>ogonek jest niepraktyczny, na kółeczku jest zbyt mało kleju, jak dla mnie tsg nadaje się do naklejenia na karton a nie na produkt. Tagi na gumce lepiej się sprawdzały, moża je było łatwiej zawiesić na produkcie </li>
                            <li>Usunąć podłużną część. Zostawić samo kółko/ stworzyć coś bliższe wobblerowi (odstające od produktu)/ wrócić do poprzednich tagów z gumkami</li>
                        </ul>
                    </div>
                </div>
                </li>  
                <li>
                    <div class="photo">
                    <img class="image" src="./images/tagsGF.png">
                    </div>
                    <div>
                        <div>
                            <p class="grade">Ocena: <p class="number">4,33</p></p>
            
                            <h3>Plusy</h3>
                            <ul class="list2">
                                <li>jest ok, info krótkie i konkretne</li>
                                <li>ciekawy, estetyczny wyróżniający się</li>
                                <li>rozmiar, czcionki, wstązki tez ok</li>
                            </ul>
                        </div>
                        <div>
                            <h3>Minusy</h3>
                            <ul class="list2">
                                <li>może zostać niezauważony </li>
                                <li>trochę zbyt stonowane kolory bo nie przyciągają wzroku pos</li>
                                <li>może coś z flagą USA jak przy RH, może trzeba też zrobić jakiś taki komunikujący w ogólę firmę GF</li>
                            </ul>
                        </div>
                    </div>
                    </li> 
                    <li>
                        <div class="photo">                            
                        <img class="image" style="width:300px" src="./images/ProluxeYouAdd.jpg">
                        </div>
                        <div>
                            <div>
                                <p class="grade">Ocena: <p class="number">4,8</p> </p>
                            
                                <h3>Plusy</h3>
                                <ul class="list2">
                                    <li>informacje na nakładce przybliżają produkt klientowi</li>
                                    <li>przedstawienie cech i zalet przy produkcie na półce</li>
                                    <li>miejsce montażu</li>
                                    <li>materiał , trwałość wykonania</li>
                                </ul>
                            </div>
                            <div>
                                <h3>Minusy</h3>
                                <ul class="list2">
                                    <li>brak</li>
                                </ul>
                            </div>
                        </div>
                        </li>
                    
</ul>